body {
        background-color:rgb(75, 221, 75);
      }
      .title {
        text-align: center;
        margin-bottom: 32px;
        font-size: 75pt;
        color: rgb(182, 138, 57)
      }
      .title:hover {
        font-family:Arial, serif;
        color: #2d524f;
      }
      p {
        text-align: center;
        color: turquoise
      }